body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 28px;
    padding-left: 388px;
    height: 60px;
    line-height: 60px;
    float: left;
    opacity: 
}
.main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 432px;      
}
.menu li{
    float: left;
    color: #fff;
    line-height: 60px;
    font-size: 15px;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: topshift 1s ease forwards;
    -o-animation: topshift 1s ease forwards;
    animation: topshift 1s ease forwards;
    opacity: 0;
}
.menu li a{
    color: white;
    display: block;
    font-weight: bold;
}
.menu li a:hover{
    color: #d17700;
}
.menu li a:active{
    transform: scale(1.1);
}
@keyframes topshift{
    from{
       opacity: 0;
       margin-top: -80px;
   }
    to{
       opacity: 1;
       margin-top: 0px;
   }
}
.menu li:nth-child(2){
    animation-delay: 0.3s
}
.menu li:nth-child(3){
    animation-delay: 0.6s
}
.menu li:nth-child(4){
    animation-delay: 0.9s
}
.menu li:nth-child(5){
    animation-delay: 1.2s
}
.menu li:nth-child(6){
    animation-delay: 1.5s
}
.main{
    height: 100%;
    width: 100%;
    background: url(../img/guy.png) no-repeat 90% 100%/ auto 85% ,url(../img/bg_main.jpg) center/cover no-repeat;
}
.title_container{
    display: block;
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    animation-delay: 2s;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
}
.title_container h4{
    color: #79818d;
    margin: 40px;
    font-size: 22;
    text-transform: uppercase;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 0px 14px 0px 14px;
    color: #6d7682;
    
}
.title_container input{
    transition: all 0.2s;
    transition-duration: 0.4s;
}
.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}
.about_me_conteiner{
    width: 730px;
    height: 511px;
    margin: 0px auto;
}
.about_me h2{
    font-size: 25px;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;   
}    
.about_me hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
}
.about_me_conteiner img{
    display: block;
    margin: 0px auto;
}
.about_me_conteiner p{  
    font-size: 14px;
    color: #717883;
    line-height:16px;
    padding-top: 38px;
    font-weight: bold;  
}
.about_me_conteiner text_1{
    padding-top: 22px;
}
.resume input{
    background: url(../img/download.jpg)no-repeat 4px 5px;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
}
.resume input:hover{
    background: #344051;
    color: white;
}
.resume input:active{
    transform: scale(1.1);
}
.skill_list{
    background: url(../img/BG_skills.jpg)no-repeat 100% 100%/px;
}
.skill_item{
    width: 210px;
    text-align: center;
    color: #3f495a;
    font-size: 14px;
    padding: 40px;
    float: left;
    opacity: ;
    -webkit-animation: list_comming 1s ease forwards;
    -o-animation: list_comming 1s ease forwards;
    animation: list_comming 1s ease forwards; 
}
@keyframes list_comming{
    from{
        opacity: 0;
        margin-left: -30px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.skill_list client_item:nth-child(4){
    animation-delay: 0.3s
}
.skill_list client_item:nth-child(3){
    animation-delay: 0.6s
}
.skill_list client_item:nth-child(2){
    animation-delay: 0.9s
}
.skill_list client_item:nth-child(1){
    animation-delay: 1.2s
}
.skill_list h2{
    font-size: 25px;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;
    padding-top: 107px;
}
.skill_list hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto;
}
.skill_conteiner{
    width: 1100px;
    margin: 0px auto;
    height: 350px;
    padding-left: 127px;
} 
.skill_item h3{
    font-size: 16px;
    color: #cf7600;
    padding-top: 34px;
    padding-bottom: 15px;
    font-weight: bold;
}
.cases h2{
    font-size: 25px;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;
}
.cases hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto;
}
.cases h4{
    text-align: center;
    color: #3f495a;
    padding: 36px 0px 37px 0px;
    font-size: 16px;
}
.cases_conteiner{
    background: url(../img/bg_cases.jpg)no-repeat 1px / 100%;
    height: 760px;
    width: 1557px;
    margin: 0px calc(auto - 388px);
    padding: 630px 0px 0px 388px;   
}
.client_item{
    color: #525a69;
    padding-bottom: 15px;   
}
.client_item h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #384354;
    padding-bottom: 10px;
}
.client_item a{
    color: #525a69;
}
.client_item_conteiner{
    float: left;
    padding-right: 101px
}
.about_project{
    line-height: 22px;
    color: #3f495a;
    font-size: 16px;
}
.about_project h3{
    font-weight: bold;
    font-size: 22px;
}
.visit_site{
    background: url(../img/visit_site_border.jpg)no-repeat 388px;
    padding: 13px 0px 0px 421px;
    height: 44px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.PriceList{
    width: 887px;
    margin: 0px auto;
    padding-bottom: 153px;
}
.PriceList h2{
    font-size: 25px;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;
    padding-top: 107px;
}
.calc_item{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 65px;
}
.select_item{
    display: block;
    height: 50px;
    width: 891px;
}
.PriceList>h3{
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}
.stats h2{
    font-size: 25px;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;
    padding-top: 107px;
}
.stats hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto;
}
.stats_list{
    height: 166px;
    width: 1027px;
    margin: 0px auto;
    padding-top: 84px;
    padding-left: 67px;
}
.stats_item{
    float:left;
    padding-right: 100px;
    text-align: center;
    color: #323e4f;
    font-size: 13px;
    font-weight: bold;
}
.stats_item h3{
    font-size: 26px;
    font-weight: bold;
    color: #323e4f;
    padding: 32px;
}
.stats{
    background: url(../img/bg_stats.jpg) no-repeat -44px;
    height: 500px;
    background-attachment: fixed;
}
.feedback h2{
    font-size: 25px;
    color: #263244;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;
    padding-top: 104px;
}
.feedback hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto;
}
.feedback img{
    margin: 0px auto;
    display: block;
    padding-top: 58px;
    padding-bottom: 34px;
}
.feedback p{
    width: 688px;
    margin: 0px auto;
    text-align: center;
    font-size: 14px;
    color: #3d4654;
    line-height: 19px;
    padding-bottom: 34px;
}
.feedback misha{
    display: block;
    margin: 0px auto;
}
.contacts h2{
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-top: 108px;
    padding-bottom: 35px;
    font-weight: bold;
    padding-top: 105px;
}
.contacts{
    background: url(../img/bg_contacts.jpg) no-repeat;
    padding-bottom: 160px;
}
.contacts hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0px auto;
}
.contacts>p{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 45px;
}
.contacts_item_conteiner{`
    margin: 0px auto;
    width: 799px;
    padding-bottom: 97px;
    padding-left: 123px;
}
.contacts_item{
    text-align: center;
    color: #ffffff;
    float: left;
    width: 224px;
    padding-right: 108px;
    padding-top: 15px;
    font-size: 12px;
}
.contacts_item img{
    padding-bottom: 13px;
}
.info_block p{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 44px;
}
.contacts input{
    margin: 0px auto;
}
.name{
    margin-right: 123px;
    display: inline-block;
    width: 352px;
    height: 34px;
}
.mail{
    display: inline-block;
    width: 352px;
    height: 34px;
    margin-left: 29px;
}
.name_mail{
    margin-left: calc(50% - 352px);
}
.messege{
    display: block;
    margin: 0px auto;
    width: 705px;
    height: 94px;
    margin-top: 14px;
    margin-bottom: 45px;
}
.sent{
    display: block;
    height: 40px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin: 0px 14px 0px 14px;
    color: white;
    transition-duration: 0.4s;
}
.sent:hover{
    background: #182132;
    color: white;
}
.sent:active{
    transform: scale(1.1);
}
.map{
    padding-top: 180px;
    background: url(../img/bg_map.jpg) no-repeat;
    height: 356px;
}
.map p{
    display: block;
    margin: 0px auto;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    width: 62px;
}
footer{
    width: 100%;
    height: 96px;
    background: #344051;
    text-align: center;
    color: #ffffff;
    padding-top: 48px;
}